@model Kommunikationsverktyg_för_informatik.ViewModels.FrontPageViewModel
@using DataAccess.Repositories
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1></h1>
    <p class="lead">Kaimonikation är en kommunikationsplattform för informatikprogrammet. Denna webplattform är till för att underlätta kommunikationen mellan lärare.</p>
</div>

<div class="row">
    <div class="col-md-homePage">
        <h2>Bloggflöde</h2>

        @if (Model.Posts.Count != 0)
        {
            foreach (var item in Model.Posts)
            {
                <a href="@Url.Action("Index", "Blog")">
                    <div class="margin5 div-blogEntryMain">
                        <div id="div-blogEntryUser">
                            <h4>@Html.DisplayFor(model => model.Users.Find(x => x.Id == item.User).BlogDisplayName)</h4>
                        </div>
                        <div id="div-blogEntryDate">
                            <h5>@Html.DisplayFor(modelItem => item.Date)</h5>
                        </div>
                        <div id="div-blogEntryTitle">
                            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                        </div>
                        <div id="div-blogEntryDescription">
                            <h5 id="blogText" class="comment more">@Html.DisplayFor(modelItem => item.Description)</h5>
                        </div>
                    </div>
                </a>
            }

        }
        else
        {
            <p>Inga blogginlägg</p>
        }
    </div>
    <div class="col-md-homePage">
        <h2>Formell Blogg</h2>

        @if (Model.FormalPosts.Count != 0)
        {
            foreach (var item in Model.FormalPosts)
            {
                <a href="@Url.Action("Index", "Blog")">
                    <div class="@*margin5*@ div-blogEntryMainFormal">
                        <div id="div-blogEntryUser">
                            <h4>@Html.DisplayFor(model => model.Users.Find(x => x.Id == item.User).BlogDisplayName)</h4>
                        </div>
                        <div id="div-blogEntryDate">
                            <h5>@Html.DisplayFor(modelItem => item.Date)</h5>
                        </div>
                        <div id="div-blogEntryTitle">
                            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                        </div>
                        <div id="div-blogEntryDescription">
                            <h5 id="blogText" class="comment more">@Html.DisplayFor(modelItem => item.Description)</h5>
                        </div>
                    </div>
                </a>
            }



        }
        else
        {
            <p>Inga blogginlägg</p>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-homePage">
        <h2>Forskningsblogg</h2>

        @if (Model.ResearchPosts.Count != 0)
        {
            foreach (var item in Model.ResearchPosts)
            {
                <a href="@Url.Action("Index", "Research")">
                    <div class="margin5 div-blogEntryMainRes">
                        <div id="div-blogEntryUser">
                            <h4>@Html.DisplayFor(model => model.Users.Find(x => x.Id == item.UserId).BlogDisplayName)</h4>
                        </div>
                        <div id="div-blogEntryDate">
                            <h5>@Html.DisplayFor(modelItem => item.Date)</h5>
                        </div>
                        <div id="div-blogEntryTitle">
                            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                        </div>
                        <div id="div-blogEntryDescription">
                            <h5 id="blogText" class="comment more">@Html.DisplayFor(modelItem => item.Content)</h5>
                        </div>
                    </div>
                </a>
            }



        }
        else
        {
            <p>Inga blogginlägg</p>
        }
    </div>

    <div class="col-md-homePage">
        <h2>Utbildningsblogg</h2>

        @if (Model.EducationPosts.Count != 0)
        {
            foreach (var item in Model.EducationPosts)
            {
                <a href="@Url.Action("Index", "Education")">
                    <div class="margin5 div-blogEntryMainEdu">
                        <div id="div-blogEntryUser">
                            <h4>@Html.DisplayFor(model => model.Users.Find(x => x.Id == item.UserId).BlogDisplayName)</h4>
                        </div>
                        <div id="div-blogEntryDate">
                            <h5>@Html.DisplayFor(modelItem => item.Date)</h5>
                        </div>
                        <div id="div-blogEntryTitle">
                            <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                        </div>
                        <div id="div-blogEntryDescription">
                            <h5 id="blogText" class="comment more">@Html.DisplayFor(modelItem => item.Content)</h5>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <p>Inga blogginlägg</p>
        }
    </div>
</div>

