@model Kommunikationsverktyg_för_informatik.Models.RegisterViewModel
@using DataAccess.Repositories;
@using (Html.BeginForm("Register", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="titlediv">
        <h4>Create a new account.</h4>
    </div>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Admin, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.Admin, new { @class = "form-control" })
            </div>
        </div>
    UserRepository ur = new UserRepository();
    if (ur.GetRolesAssignedByRoleName("educationAdministrator") == 0)
    {
        <div class="form-group">
            @Html.LabelFor(m => m.EducationAdmin, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.EducationAdmin, new { @class = "form-control" })
            </div>
        </div>
    }
    if (ur.GetRolesAssignedByRoleName("researchAdministrator") == 0)
    { <div class="form-group">
            @Html.LabelFor(m => m.ResarchAdmin, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.CheckBoxFor(m => m.ResarchAdmin, new { @class = "form-control" })
            </div>
        </div>
    }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>

    
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <link href="~/Content/Adminpanel.css" rel="stylesheet" />
