@model IEnumerable<Kommunikationsverktyg_för_informatik.Models.ApplicationUser>
@using DataAccess.Repositories
<div class="titlediv">
    <h4>List of users:</h4>
</div>
<table class="table">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Active)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @{UserRepository ur = new UserRepository();
                        if (ur.IsUserInRole(item.Id, "administrator"))
                        {
                            @:| Adm
                        }
                        if (ur.IsUserInRole(item.Id, "researchAdministrator"))
                        {
                            @:| ResAdm
                        }
                        if (ur.IsUserInRole(item.Id, "educationAdministrator"))
                        {
                            @:| EduAdm
                        }
    if (ur.IsUserInRole(item.Id, "user"))
    {
                           @Html.ActionLink("Deactivate User", "SetInactive", new { email = item.Email })
                        }


                    }
                </td>
            </tr>
                            }
                        }
    @foreach (var item in Model)
    {
        if (!item.Active)
        {
            <tr class="redRow">
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.ActionLink("Activate User", "SetActive", new { email = item.Email }, new { @class = "InactiveUserLink" })
                </td>

            </tr>
        }
    }




</table>
<link href="~/Content/Adminpanel.css" rel="stylesheet" />
