@model Kommunikationsverktyg_för_informatik.ViewModels.BlogPostViewModel
@using DataAccess.Repositories
@using Microsoft.AspNet.Identity
@{
    /**/

    ViewBag.Title = "Blogg";
}


@{UserRepository ur = new UserRepository();}
<div id="mapDiv" onclick="hideMap();">some text</div>
<h2>Bloggflöde</h2>

<p>
    @Html.ActionLink("Skapa inlägg", "Create", new { formal = Model.Formal })
</p>
@using (Html.BeginForm("Index", "Blog", new { formal = Model.Formal }))
{
    @*<div id="map"></div>*@
    <div id="div-blogCategory">
        <h4 id="h4-category">Sortera efter kategori</h4>
        <div id="div-blogCategoryFilter">
            <div id="div-blogCategoryButtons">
                @Html.DropDownListFor(model => model.SelectedCategory, new SelectList(Model.Kategorier.Select(x => x.Namn)), new { id = "dropdown-Filter" })
                <input type="submit" value="Filtrera" class="btn btn-default" id="btn-filter" />
            </div>
            <div id="div-blogHiddenPosts">
                @if (!Model.Formal)
                {
                    if (Model.Hidden)
                    {
                        @Html.ActionLink("Synliga inlägg", "Index")
                    }
                    else
                    {
                        @Html.ActionLink("Mina gömda inlägg", "MyHiddenPosts")
                    }
                }

            </div>

        </div>
    </div>






}



@{
    int i = 1;
    foreach (var item in Model.PostFileCombinations)
    {



        <div id="@i">
            @{i = i + 1; }


            <div class="margin5 div-blogEntryMain">

                <div id="div-blogEntryUser">

                    <h4>@Html.DisplayFor(modelItem => item.AttachedUser.BlogDisplayName)</h4>

                </div>
                <div id="div-blogEntryDate">
                    <div style="clear:both">
                        <h5 style="float:left">@Html.DisplayFor(modelItem => item.AttatchedPost.Date) </h5>


                        <label style="float:right" id="mapLabel" onclick="showMap(event,'mapDiv',this);" data-longitude="@item.AttatchedPost.Location.Longitude" data-latitude="@item.AttatchedPost.Location.Latitude">Show location</label>
                    </div>

                </div>
               <br />
                <div style="clear:both" id="div-blogEntryTitle">

                    <h4>@Html.DisplayFor(modelItem => item.AttatchedPost.Title)</h4>

                </div>
                <div id="div-blogEntryDescription">


                    <h5 id="blogText" class="comment more">@Html.DisplayFor(modelItem => item.AttatchedPost.Description)</h5>

                </div>


                <div id="div-blogEntryAttachedFile">

                    @if (item.AttatchedPics.Count > 0)
                    {
                        foreach (var pics in item.AttatchedPics)
                        {
                            var base64 = Convert.ToBase64String(pics.FileBytes);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                            <a href="@imgSrc" target="_blank">
                                <img src="@imgSrc" class="smallPic" />
                            </a>
                        }
                    }

                </div>
                <div id="attatchedDocumentsNotBootstrap">
                    @if (item.AttatchedDocs.Count > 0)
                    {
                        <p>Bifogade filer:</p>
                        <ul>
                            @foreach (var file in item.AttatchedDocs)
                            {
                                <li>@Html.ActionLink(file.FileName as string, "DownloadFile", "Blog", new { downloadFileId = file.FileID }, null)</li>
                            }
                        </ul>
                    }
                </div>
                <div id="div-blogEntryEditDelete">

                    <p>
                        @if (item.AttatchedPost.User == User.Identity.GetUserId())
                        {
                            @Html.ActionLink("Edit", "Edit", "Blog", new { Id = item.AttatchedPost.Id }, null)
                        }
                        |
                        @if (ur.IsUserInRole(User.Identity.GetUserId(), "administrator") || item.AttatchedPost.User == User.Identity.GetUserId())
                        {
                            @Html.ActionLink("Ta bort", "BlogCancel", "Blog", new { Id = item.AttatchedPost.Id, }, null)
                        }
                    </p>

                </div>
                <div class="div-blogEntryComment">

                    <a href="javascript:void(0)" class="linkComment" id="@item.AttatchedPost.Id">Kommentera</a>
                </div>
                <div id="@item.AttatchedPost.Id" class="@item.AttatchedPost.Id blogComments">

                </div>
            </div>
        </div>
        

        var user = ur.GetUser(User.Identity.GetUserId());
        @Html.Hidden("currentUser", User.Identity.GetUserId())
        @Html.Hidden("displayName", user.BlogDisplayName)
    }
}
<div class="div-blogLoadPosts">
    @Html.Hidden("oldCountModel", Model.OldCount)
    @Html.Hidden("newCountModel", Model.NewCount)

    @using (Html.BeginForm("LoadPosts", "Blog", new { count = Model.PostFileCombinations.Count }))
    {
        if (Model.DbCount > Model.NewCount)
        {
            <input type="submit" value="Ladda fler..." />
        }
    }

</div>

<style>
    #mapDiv {
        height: 300px;
        width: 400px;
        background-color: grey;
        border-radius: 15px;
    }
</style>
@section Scripts {
<script>
    $(document).ready(hideMap());


    function showMap(e,divid,elem) {
        hideMap();
        var left = e.clientX + "px"; //puts coords to mousepointer coords
        var top = e.clientY + "px";
        $("#" + divid).css('left', left); //sets the position in css
        $("#" + divid).css('top', top);
        $("#" + divid).css('position', 'absolute');
        var lat = $(elem).data('latitude'); //gets the coord values from the label 'data-latitude' and 'data-longitude'
        var lng = $(elem).data('longitude');
        $("#" + divid).toggle(); //toggles visibility
        initMap(lat,lng); //initiates map
        
        return false;
    }

    function hideMap() {
        var map = document.getElementById('mapDiv');
        map.style.display = 'none'; //hides the map
    }

    function initMap(lati,longi) { //function for setting map coords through google api
        var uluru = { lat: lati, lng: longi };
        var map = new google.maps.Map(document.getElementById('mapDiv'), {
            zoom: 8,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
    }
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSWVBSfbcef96qaP3AcCFlZ25DkuFyE-8&callback=initMap">
</script>
<link href="~/Content/blogg.css" rel="stylesheet" />