@model Kommunikationsverktyg_för_informatik.ViewModels.BlogPostViewModel


@{
    /**/

    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Blog"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Kategorier, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">

            @Html.DropDownListFor(model => model.SelectCategories, new SelectList(Model.Kategorier.Select(x => x.Namn)))

        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Filtrera" class="btn btn-default" />
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Post.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Post.UserName)
        </th>
        <th>
            Bilaga
        </th>
    </tr>

    @foreach (var item in Model.PostFileCombinations)
    {

        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.AttatchedPost.Title)
            </td>
            <td class="blogTable">
                <span id="blogText" class="comment more">@Html.DisplayFor(modelItem => item.AttatchedPost.Description)</span>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttatchedPost.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttatchedPost.UserName)
            </td>
            <td>
                @if (item.AttatchedFile != null)
                {
                    @Html.ActionLink(item.AttatchedFile.FileName as string, "DownloadFile", "Blog", new { downloadFileId = item.AttatchedFile.FileID }, null)
                }
                else
                {
                    <p>Ingen bilaga!</p>
                }

            </td>
            <td>
                @if (item.AttatchedPost.UserName == Model.currentUser.UserName)
                {
                    @Html.ActionLink("Edit", "Edit", "Blog", new { Id = item.AttatchedPost.Id }, null)
                }
                <br />
                @if (Model.currentUser.Admin || item.AttatchedPost.UserName == Model.currentUser.UserName)
                {
                    @Html.ActionLink("Tar bort", "BlogCancel", "Blog", new { Id = item.AttatchedPost.Id }, null)
                }


            </td>
        </tr>
    }

</table>
