@model Kommunikationsverktyg_för_informatik.ViewModels.BlogPostViewModel


@{
    /**/

    ViewBag.Title = "Blogg";
}

<h2>Bloggflöde</h2>

<p>
    @Html.ActionLink("Skapa inlägg", "Create")
</p>
@using (Html.BeginForm("Index", "Blog"))
{
    <div id="div-blogCategory">
            <h4 id="h4-category">Sortera efter kategori</h4>
        <div id="div-blogCategoryFilter">
            <div id="div-blogCategoryButtons">
                @Html.DropDownListFor(model => model.SelectCategories, new SelectList(Model.Kategorier.Select(x => x.Namn)), new { id = "dropdown-Filter" })
                <input type="submit" value="Filtrera" class="btn btn-default" id="btn-filter" />
            </div>
        </div>
    </div>




       

}
@foreach (var item in Model.PostFileCombinations)
{

    <div id="div-blogEntryMain">

        <div id="div-blogEntryUser">

            <h4>@Html.DisplayFor(m => m.currentUser.BlogDisplayName)</h4>

        </div>
        <div id="div-blogEntryDate">

            <h5>@Html.DisplayFor(modelItem => item.AttatchedPost.Date)</h5>

        </div>
        <div id="div-blogEntryTitle">

            <h4>@Html.DisplayFor(modelItem => item.AttatchedPost.Title)</h4>

        </div>
        <div id="div-blogEntryDescription">

            
            <h5 id="blogText" class="comment more">@Html.DisplayFor(modelItem => item.AttatchedPost.Description)</h5>
            
        </div>
        <div id="div-blogEntryAttachedFile">

            @if (item.AttatchedFile != null)
                {
                @Html.ActionLink(item.AttatchedFile.FileName as string, "DownloadFile", "Blog", new { downloadFileId = item.AttatchedFile.FileID }, null)
            }

        </div>
        <div id="div-blogEntryEditDelete">

           <p> @if (item.AttatchedPost.UserName == Model.currentUser.UserName)
                {
                @Html.ActionLink("Edit", "Edit", "Blog", new { Id = item.AttatchedPost.Id }, null)
            }
           |
            @if (Model.currentUser.Admin || item.AttatchedPost.UserName == Model.currentUser.UserName)
                {
                @Html.ActionLink("Ta bort", "BlogCancel", "Blog", new { Id = item.AttatchedPost.Id }, null)
            }
            </p>

        </div>
        <div id="div-blogEntryComment">

            @

        </div>
    </div>

}



<link href="~/Content/blogg.css" rel="stylesheet" />